html {
    overflow-x: hidden !important;
}

body.fa {
    // استایل های مربوط به زبان فارسی
    direction: rtl;
    text-align: end;
    font-family: 'Vazirmatn', sans-serif;
}

body.en {
    // استایل های مربوط به زبان انگلیسی
    direction: ltr;
    text-align: start;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 1.5vw;
    /* اندازه فونت پایه را روی 1.5% از عرض پنجره تنظیم می‌کند */
}

/* سپس در کامپوننت‌ها از rem استفاده کنید */
h1 {
    font-size: 2.5rem;
    /* برابر با 2.5 برابر اندازه فونت پایه */
}

p {
    font-size: 1rem;
    /* برابر با اندازه فونت پایه */
}